 <div class="commerce-referrals-referrer-field"
     style="display: flex; flex-direction: column; gap: 5px; background: #f1f1f1; padding: 10px 15px; position:relative; left: -15px; border-radius: 3px;"
>
    <span><b>{{ company }}</b></span>
    <span>{{ contact_name }}</span>
    <span>{{ email }}</span>
    <span>{{ phone }}</span>
    <span>{{ website }}</span>
</div>